* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Open Sans', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    align-items: center;
    background-color: grey;
    position: relative;
}

.header-left {
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.twitter-logo {
    width: 70px;
    height: 70px;
    background-image: url('Assets/twitter-logo.svg');
    object-fit: contain;
    background-size: cover;
    margin-right: 10px;
}

.search {
    display: flex;
    flex: 1;
    margin-left: 10px;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 2px;
    justify-content: space-between;
}

.search input {
    display: flex;
    flex: 1;
    font-size: 15px;
    font-weight: 400;
    color: white;
    background-color: grey;
    border: none;
}

.search-icon {
    width: 20px;
    /* border: 1px solid blue; */
    background-image: url('Assets/search-icon.svg');
    object-fit: contain;
    background-repeat: no-repeat;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    width: 50%;
}

.header-right a {
    font-size: 19px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.header-right a:hover {
    color: blue;
}

.profile-photo {
    display: flex;
    width: 65px;
    height: 65px;
    border-radius: 35px;
    margin-right: 20px;
    background-image: url('Assets/user.svg');
    object-fit: contain;
    background-size: cover;
}

.body-content {
    display: flex;
    flex-direction: row;
    height: 1000px;
    width: 100%;
    background-color: black;
}

.body-left {
    display: flex;
    flex-direction: column;
    border: 1px solid whitesmoke;
    width: 20%;
}

.details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.details img {
    display: flex;
    margin: 10px;
    width: 20px;
    height: 20px;
}

.details a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.details a:hover {
    color: burlywood;
}

.body-center {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    border: 1px solid whitesmoke;
}

#tweet-structure {
    border: 1px solid blue;
    margin: 20px;
    color: black;
    background-color: whitesmoke;
}